h1{text-align: center;
}
img{margin-left: 0px;
  width:1900px;
}
a{color:blue;}

p{

}
ul li {
    		display:inline-block; 
   		}
   		ul li ul li{
   			display: block;
   			width: 150px;

   		}
		ul {
    		width: 500px;
    		margin: 0;
   		 	padding: 0;
    		font-family: Arial, sans-serif;
    		font-size: 12pt;

   		}
   		li ul {
    		position: absolute;
    		display: none;

   		}
   		li a {
    		display: block;
    		padding: 5px;
    		text-decoration: none;
   			color: #666;
    		border: 1px solid #ccc;
    		background-color: #f0f0f0;
    		border-bottom: none;
   		}
   		li a:hover {
    		color: #ffe;
    		background-color: #5488af;
   		}
   		li:hover ul {
    		display: block;

   		}
   		.brd {
   		 border-bottom: 1px solid #ccc;
   		}

      p{
        font-size: 15px

      }
      img{background-color: red

      }
   class.h1{align-content: 2px

   }



   