footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

.dropdown{
	margin-right: 20px;
}
.p{
	margin-left: 550px;
	margin-top: 150px;
}
.p2{
	margin-left: 560px;
}
.p3{
	margin-left: 1300px;
	margin-bottom: 1400px;
}
